 body {
     margin: auto
 }


 /* index section */

 .imglogo_brand {
     text-align: center;
 }

 .imglogo_brand img {
     height: 140px;
 }

 #navbar_brand {
     height: 140px;
 }

 a {
     text-decoration: none;
 }

 .brand_button {
     text-align: end;
     margin-top: -120px;


 }



 .brand_button button {
     background: black;
     height: 38px;
     width: 85px;
     font-size: 17px;
     font-weight: 500;
     margin-right: 20px;

 }

 .slider_brand {
     background: #7C7C7D;
     padding: 50px;
 }

 .slider_text {
     text-align: center;
 }

 .slider_text h4 {
     font-size: 18px;
     font-family: 'Oswald', sans-serif;
     color: white;
     font-weight: 400;
     letter-spacing: 1px;
 }

 .slider_text p {
     font-size: 30px;
     margin-top: -15px;
     font-family: 'Oswald', sans-serif;
     color: white;
     font-weight: 400;
 }

 .join_button {
     margin-top: -10px;
 }

 .brand_button a {
     color: white;
     letter-spacing: 1px;
     font-family: initial;
     font-family: 'Oswald', sans-serif;
 }

 .join_button button {
     height: 40px;
     width: 100px;
     font-size: 17px;
     background: black;
     font-weight: 400;
 }

 .join_button a {
     color: white;
     font-family: 'Oswald', sans-serif;
     letter-spacing: 1px;
 }

 .svg_image img {
     height: 70px;
     margin-top: 35px;
 }

 .heading_content h4 {
     margin-top: 1px;
     font-size: 25px;
     font-family: 'Oswald';
     letter-spacing: 2px;
     font-weight: 700;
 }

 .text_content {
     margin-top: -15px;
 }

 .text_content p {
     font-family: 'Oswald';
     font-size: 15px;

     font-weight: 600;
     letter-spacing: 1px;
 }

 .three_boxes {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 90px;
 }

 .btn_content a {
     color: cornflowerblue;
     font-family: 'Oswald';
     font-weight: 600;
     letter-spacing: 1px;
     font-size: 18px;
     cursor: pointer;
 }

 .BOX_content {
     border: 1px solid lightgray;
     height: 350px;
     width: 350px;
     text-align: center;
     padding-left: 20px;
     padding-right: 20px;
 }

 .Join_Now {
     text-align: center;
 }

 .Join_Now button {

     margin-top: 50px;
     text-align: center;
     margin-bottom: 50px;
     height: 40px;
     width: 100px;
     font-size: 17px;
     background: black;
     font-weight: 400;
     cursor: pointer;
 }

 .Join_Now a {
     color: white;
     font-family: 'Oswald', sans-serif;
     letter-spacing: 1px;

 }


 /* index ends */

 /* join now starts */
 .brand_button {
     text-align: end;
     margin-top: -120px;


 }



 .brand_button button {
     background: black;
     height: 38px;
     width: 85px;
     font-size: 17px;
     font-weight: 500;
     margin-right: 20px;

 }

 .form_container {
     border: 1px solid lightgray;
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     /* height: 500px; */
     box-shadow: 0px 0px 5px 5px lightgrey;
     border-radius: 5px;
     display: flex;
     flex-direction: row;
 }

 .policy_part {
     width: 52%;
     background: #f1f1f2;
 }

 .policy_part span {
     font-size: 14px;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-weight: 600;
 }

 .policy_part p {
     font-size: 16px;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-weight: 600;
 }

 .policy_part_content {
     padding: 30px;
     display: flex;
     flex-direction: column;
 }

 .points_policy {
     display: flex;
     flex-direction: column;
     gap: 5px;
     padding: 20px;
 }

 .form_part {
     padding: 20px;
     width: 45%;
     background: #FFFFFF;
 }

 #joinnow_p {
     margin-top: -15px;
     color: grey;
     font-weight: 600;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-size: 13px;
 }

 .form_header h4 {
     font-size: 25px;
     font-family: 'Oswald';
     letter-spacing: 2px;
 }

 .form_component {
     display: flex;
     flex-direction: column;
 }

 .name_form {
     display: flex;
     flex-direction: row;
     gap: 25px;
 }

 .main_form span {
     font-size: 16px;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-weight: 600;
     color: grey;
 }

 .main_form input {
     padding: 8px;
     margin-top: 8px;
     margin-bottom: 20px;
     border: 2px solid lightgrey;
     border-radius: 3px;
     font-size: 16px;
     font-family: 'Oswald';
 }

 #textarea_joinnow {
     padding: 8px;
     margin-top: 8px;
     margin-bottom: 20px;
     border: 2px solid lightgrey;
     border-radius: 3px;
     font-size: 16px;
     font-family: 'Oswald';
 }

 #name_field {
     width: 90%;
 }

 #social_logo {
     border: 1px solid lightgrey;
     height: 41px;
     width: 45px;
     margin-top: 8px;
     background: lightgrey;

 }

 #instagram {
     font-size: 20px;
     color: dimgray;
     text-align: center;
     margin-top: 10px;
 }

 #website, #facebook, #youtube {
     text-align: center;
     margin-top: 8px;
     font-size: 14px;
     color: grey;
     font-family: 'Oswald';
     letter-spacing: 1px;
 }

 .social_portion {
     display: flex;
     flex-direction: row;
 }

 .joinnow_checkbox {
     display: flex;
     flex-direction: row;
     gap: 5px;
 }

 .joinnow_checkbox h3 {
     font-size: 16px;
     margin-top: 2px;
     font-family: 'Oswald';
     letter-spacing: 1px;
 }

 .social_portion input {
     width: 86%;
 }

 .join_now_submit_btn {
     padding: 20px;
 }

 .join_now_submit_btn button {
     height: 40px;
     width: 150px;
     font-size: 16px;
     font-family: 'Oswald';
     font-weight: 700;
     letter-spacing: 1px;
     background: #646464;
     color: white;
     border-radius: 2px;
     cursor: pointer;
 }


 /* join now ends */
 /* login starrts */

 .login_form_container {
     border: 1px solid lightgrey;
     width: 25%;
     margin-left: auto;
     margin-right: auto;
     padding: 25px;
     box-shadow: 1px 1px 5px grey;
 }

 .form_component_login {
     display: flex;
     flex-direction: column;
 }

 .form_component_login input {
     padding: 8px;
     border: 1px solid lightgrey;
     border-radius: 2px;
     margin-top: 5px;
     margin-bottom: 20px;
 }

 #login_brand_text {
     text-align: center;
     font-size: 40px;
     font-family: 'Oswald';
     letter-spacing: 1px;
     margin-bottom: 10px;
     /* margin-right: 463px; */
     /* margin-left: -110px; */
     margin-top: 2px;
 }

 .form_component_login span {
     font-size: 16px;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-weight: 600;
     color: grey;
 }

 .btn_and_forget {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 20px;
 }

 .login_btn_brand button {
     height: 40px;
     width: 100px;
     font-size: 16px;
     font-family: 'Oswald';
     font-weight: 700;
     letter-spacing: 1px;
     background: #646464;
     color: white;
     border-radius: 2px;
     cursor: pointer;
 }

 .forget_pass_brand {
     margin-top: 10px;
 }

 .forget_pass_brand a {
     font-size: 16px;
     color: #267acc;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-weight: 600;
 }

 .account_confirmation {
     text-align: center;
     margin-top: 30px;
     margin-bottom: 100px;
 }

 .account_confirmation span {
     font-size: 17px;
     font-family: 'Oswald';
     letter-spacing: 1px;
     font-weight: 700;
 }

 /* login ends
  */